<!-- {{vm.genreArray}}
<div data-ng-repeat="genre in vm.genreArray" ng-click="select(genre)" ng-class="{ selected: isSelected(genre)}">
  <select ng-model="choice" ng-options="genre"></select>

</div>
<select ng-model="choice" ng-options="genre"></select> -->
<div class="wrapper">
  <h2 class="package">Welcome to Bookaroo!</h2>
  <form name="myForm">
    <select name="mySelect" id="mySelect"
      data-ng-options="genre.subject for genre in vm.genreArray track by genre.subject"
      data-ng-model="data.selectedOption" placeholder="Choose Your Genre"></select><br>
<br>
    <a id="expand" data-ui-sref="bookaroo({id: data.selectedOption.subject})"><button type="submit" class="btn">Explore!</button></a>
  </form>
</div>
