body {
  background:
  url(http://wallpapercave.com/wp/ijo8KeK.jpg);
  no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #b48608;
  font-family: 'Special Elite', cursive;

  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}

h2 {
  font-family: 'Droid Serif', serif;
  color: #eee;
  text-align: center;
}

h3  {
  font-family: 'Oswald', sans-serif;
  color: #eee;
}

a {
  color: #b48608;
  text-decoration: none;
  border-bottom: 1px solid #4c3a07;
}

a:hover {
  color: #fff;
  background: #b48608;
}

p {
  color: #eee;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 14px;
}

select {
  display: block;
  margin: 0 auto;
}

.wrapper {
  display: grid;
}



.btn {
  font-family: 'Droid serif', serif;
  background: #b48608;
  padding: 4px 7px;
  color: #000;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  width: 120px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-style: italic;
}

.btn:hover {
  color: #000;
  background: #fff;
}

#box {
    background: rgba(0, 0, 0, 1);
    margin: auto;
    width: 60%;
    padding: 30px;
    height: 200px;
    float: left;
}

#previewText {
  font-family: 'Droid serif', serif;
  color: #eee;
  line-height: 1.5;
}

/*css animations*/

.bookmark {
  background-color: cyan;
  height: 18px;
  padding: 10px 20px 10px 30px;
  margin-left: -70px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: -4;
  animation-name: wiggle;
  transform: translate(0, 0) rotate(0deg);
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate(36px, 0) rotate(0deg);
  }
  25%, 50%, 85% {
    transform: translate(66px, 0) rotate(0deg);
  }
  45%, 65% {
    transform: translate(66px, 0) rotate(4deg);
  }
  45%, 75% {
    transform: translate(66px, 0) rotate(-6deg);
  }
}
