body {
  background:
  url(http://wallpapercave.com/wp/ijo8KeK.jpg);
  no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: #b48608;
  font-family: 'Droid Serif', serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}

h3  {
  font-family: 'Oswald', sans-serif;
  color: white;
}

h2 {
  font-family: 'Special Elite', cursive;
  color: white;
}

a {
  color: #b48608;
  text-decoration: none;
  border-bottom: 1px solid #4c3a07;
}

a:hover {
  color: #fff;
  background: #b48608;
}

p {
  color: #eee;
  font-family: 'Special Elite', cursive;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 14px;
}

#box {
    background: rgba(3, 3, 3, 0.75);
    margin: auto;
    width: 75%;
    padding: 10px;
    overflow: auto;
}

#previewText {
  font-family: 'Special Elite', cursive;
  color: white;
  line-height: 1.5;
}

.btn {
  font-family: 'Droid serif', serif;
  background: #b48608;
  padding: 4px 7px;
  color: #000;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  width: 120px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-style: italic;
}

.btn:hover {
  color: #000;
  background: #fff; 
}
