
<!-- justin: from both preview containers, deleted data-ng-hide, to be handled via jQuery instead} -->
<div class="previewContainer">
  <h2>{{vm.book.title}}</h2>
  <h3>By: {{vm.book.author}}</h3>
  <p id="previewText"><pre>{{vm.book.preview}}</pre></p>
</div>

<!-- justin: jQuery handles hide using toggle(), so display set to none.  Could do this in css i suppose... this is easier -->
<div class="previewContainer" style="display: none;">
  <h2>{{vm.book.title}}</h2>
  <h3>By: {{vm.book.author}}</h3>
  <h3>ISBN: {{vm.book.isbn}}</h3>
  <h3>Subject: {{vm.book.subject}}</h3>
  <img data-ng-src="{{vm.book.cover}}">
  <p>{{vm.book.summary}}</p>
</div>
<script src="js/script.js"></script>



<!-- <div type="button" class="btn" data-ng-click="vm.book.showInformation = !vm.book.showInformation">Information</div> -->

<!-- <div type="button" data-ng-if="vm.book.showInformation" data-ng-click="vm.book.showInformation = !vm.book.showInformation">Exit Information</button> -->

<!-- <div type="button" class="btn"><a ng-click="reloadRoute()">Find a new Book</a></div> -->

<!-- <div type="button" class="btn"><a data-ui-sref="bookarooIndex">Start Over</a></div> -->
