<div class="previewContainer" data-ng-hide="vm.book.showInformation">
  <h2>{{vm.book.title}}</h2>
  <h3>By: {{vm.book.author}}</h3>
  <p id="previewText">{{vm.book.preview}}</p>
</div>

<div class="previewContainer" data-ng-show="vm.book.showInformation">
  <h2>{{vm.book.title}}</h2>
  <h3>By: {{vm.book.author}}</h3>
  <h3>ISBN: {{vm.book.isbn}}</h3>
  <h3>Subject: {{vm.book.subject}}</h3>
  <img data-ng-src="{{vm.book.cover}}">
  <p>{{vm.book.summary}}</p>
</div>



<!-- <div type="button" class="btn" data-ng-click="vm.book.showInformation = !vm.book.showInformation">Information</div> -->
<a data-ng-click="vm.book.showInformation = !vm.book.showInformation"><button type="submit" class="btn">Information</button></a>
<!-- <div type="button" data-ng-if="vm.book.showInformation" data-ng-click="vm.book.showInformation = !vm.book.showInformation">Exit Information</button> -->
<!-- <div type="button" class="btn"><a ng-click="reloadRoute()">Find a new Book</a></div> -->
<a data-ng-click="reloadRoute()"><button type="submit" class="btn">Find a New Book</button></a>
<!-- <div type="button" class="btn"><a data-ui-sref="bookarooIndex">Start Over</a></div> -->
<a data-ui-sref="bookarooIndex"><button type="submit" class="btn">Start Over</button></a>
